<!DOCTYPE html>
<html>
   <head>
      <meta chatset="utf-8">
      <title>Some website</title>
   </head>
   <body>
      {{> header}}
      <p>Project page</p>


    {{> footer}}
   </body>
</html>
